<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Application Semabox | Dashboard</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/static/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <div class="header-section">
      <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
          <!-- Masthead Heading-->
          <h1 class="masthead-heading text-uppercase mb-0">Dashboard | {{ hostname }}</h1>
        </div>
      </header>
    </div>
    <div class="grid-section">
      <div class="container">
        <br>
        <br>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Adresse IP locale</h5>
                <p class="card-text">{{ local_ip }}</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Test de latence</h5>
                <p class="card-text">La latence est de : <strong>{{ latency }} ms</strong></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Liste des Machines Connectées</h5>
                <p class="card-text">
                  {% if devices %}
                    {% for device in devices %}
                      IP: {{ device['ip'] }}, MAC: {{ device['mac'] }}
                      <br>
                    {% endfor %}
                  {% else %}
                    Aucune machine connectée
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Résultats du dernier test de débit</h5>
                <p class="card-text"> Téléchargement : <strong>{{ download }} Mbps</strong><p>
                <p class="card-text"> Envoi : <strong>{{ upload }} Mbps</strong></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Etat de la connexion Internet</h5>
                {% if connected %}
                  <p class="card-text">L'ordinateur est connecté à Internet.</p>
                {% else %}
                  <p class="card-text">L'ordinateur n'est pas connecté à Internet.</p>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">IP publique de l'accès Internet</h5>
                <p class="card-text">{{ public_ip }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>   
</html>